*{
    /*border: 1px solid red;*/
}

body{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text{
    cursor: default;

    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.text p{
    color: var(--white);

    font-size: 3rem;
}

.text p span{
    color: var(--light-red);
    position: relative;
}

.text p span::before{
    content: "";
    height: 3rem;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: var(--light-red);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

text p span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}

/*--------------------------------------------------*/

.options{
    width: 50%;
}

.options ul{
    list-style: none;
}

.options ul li{
    margin: 3rem 0;
}

.options ul li span{
    color: var(--white);
    font-size: 3rem;
}

.options ul li a{
    color: var(--white);
    font-size: 3rem;

    margin-left: 1rem;

    transition: color .3s ease, margin-left .3s ease;
}

.options ul li a:hover{
    color: var(--light-red);
    margin-left: 2rem;
}

span{
    cursor: default;
}
